header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    padding: 0 1.2rem;
    text-decoration: none;

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}