input {
  background-color: transparent;
  box-shadow: transparent;
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
  outline: none;
  appearance: none;

  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
