body {
  background-color: #FBFBF0;
  color:#f06114;
  font-family: $font-stack;
  font-size: 20px;
  line-height: 1.4;
  padding-top: 120px;
  padding-bottom: 60px;
}

.main-layout {
  width: 90%;
  margin: 0 auto;
}