---
import Layout from '../layouts/Layout.astro';
import BMCo from '../images/boston_manufacturing_co.jpg';
---

<Layout>
  <div id="capitalism-page">
    <img height="500" src={BMCo.src} alt="boston_manufacturing_co.jpg" />
    <p>boston_manufacturing_co.jpg</p>
  </div>
</Layout>
