---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Me from '../components/Me.astro';
import Cats from '../components/Cats.astro';
---

<Layout>
  <Hero />
  <div>The best designer &amp; developer in the Universe. Over 160 years of experience.</div>
  <Cats />
  <hr />
  <Me />
</Layout>
